.skill-wrap {
    display: inline-block;
    width: 66px;
}

.skill-level-box {
    display: inline-block;
    width: 29%;
    height: 6px;
    margin-left: 4%;
    background-color: #6c757d;
}

.skill-active {
    background-color: var(--primary-color) !important;
}
