:root {
  --primary-color: #161b22;
  --primary-dark-color: #0b0d11;
  --primary-bg-color: #0d1117;
  --light-text-color: #c9d1d9;
  --dark-text-color: #656b72;
  --special-text-color: #c9d1d9;
  --special-disable-color: #242931;
  --link-color: #fff;
}
