:root {
  --primary-color: #7F7EFF;
  --primary-dark-color: #7676EB;
  --primary-bg-color: #FFF;
  --light-text-color: #6c757d;
  --dark-text-color: #343a40;
  --special-text-color: #7F7EFF;
  --special-disable-color: #6c757d;
  --link-color: #7F7EFF;
}
