:root {
  --primary-color: #10365c;
  --primary-dark-color: #0e2d4d;
  --primary-bg-color: #FFF;
  --white-color: #FFF;
  --light-text-color: #6c757d;
  --dark-text-color: #343a40;
  --special-text-color: #10365c;
  --special-disable-color: #6c757d;
  --link-color: #10365c;
  --overlay-color: #FFF;
}
