html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg-color);
}

.fixed-btns {
  z-index: 999;
  position: fixed;
  top: 2%;
  right: 1%;
}

@media (max-width: 991px) {
  .fixed-btns {
    top: 70px;
  }
}

.btn-language {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  min-width: 70px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 20px;

  -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.21);
}

.btn-language:hover {
  color: var(--white-color);
  background-color: var(--primary-dark-color);
  text-decoration: none;
}

.btn-theme:not(:checked),
.btn-theme:checked {
  position: absolute;
  left: -9999%;
}

.btn-theme + label {
  display: inline-block;
  padding: 5px 10px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
  margin-bottom: 5px;
  border-radius: 20px;
  user-select: none;

  -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.21);
}

.btn-theme + label:hover {
  background-color: var(--primary-dark-color);
}

.lowercase {
  text-transform: lowercase;
}

.skill-wrap {
  display: inline-block;
  width: 66px;
}

.skill-level-box {
  display: inline-block;
  width: 29%;
  height: 6px;
  margin-left: 4%;
  background-color: var(--special-disable-color);
}

.skill-active {
  background-color: var(--special-text-color) !important;
}

.skill-svg {
  width: 0.875em;
  margin-bottom: 10px;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--primary-color) url("../img/loader/loader.gif") no-repeat center;
  z-index: 9999;
}

#cookies-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--overlay-color);
  z-index: 1030;
  text-align: center;
  padding: 10px 0;

  -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
}

#cookies-bar p {
  color: var(--dark-text-color);
}

.btn-cookie {
  padding: 3px 10px;
  min-width: 70px;
  border: 0;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 20px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-text-color);
  border-radius: 20px;
  border: 5.5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-text-color);
}
